body{
    color:white;
}
.border{
    border:10px solid blue;
    height: 100px;
}
.logo-sony{
    background-color: black;
    height: 30px;
    text-align: right;
}

.logo-sony>img{
    height: 80%;
}

.my-container-img>img{
    width: 100%;
}

.jumbotron{
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: right;
    padding: 250px 0 50px 0;
}

.my-container-img-jumbotron-banner>img{
    width:100%;
}

.jumbotron-button{
    background-color: red;
    color:white;
    border-radius: 20px;
    padding:5px 20px;
    border:none;
}

.game-list-section{
    margin-bottom: 400px;
}

.game-list-section img{
    border-radius:25px;
}

.my-img-returnal>img,
.my-img-ratchet-and-clank>img{
  width: 100%;
}

.my-container-img-listgame-section>img:hover{
    background-color: white;
    padding: 3px;
    border:3px solid blue;
    border-radius:25px;
}
