.border{
    border:10px solid blue;
}
.my-logo-sony{
    background-color: black;
    height: 30px;
    text-align: right;
}

.my-logo-sony>img{
    height: 80%;
}

.my-container-img>img{
    width: 100%;
}

.my-jumbotron{
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: right;
    padding: 250px 0 50px 0;
    color:white;
}

.my-container-img-jumbotron-banner>img{
    width:100%;
}

.jumbotron-button{
    background-color: red;
    color:white;
    border-radius: 20px;
    padding:5px 20px;
    border:none;
}

.game-list-section img{
    border-radius:25px;
}

.my-img-returnal>img,
.my-img-ratchet-and-clank>img{
  width: 100%;
}

.my-container-img-listgame-section>img:hover{
    background-color: white;
    padding: 3px;
    border:3px solid blue;
    border-radius:25px;
}

.my-img-ps5-section>img{
    width: 100%;
}

.my-button-ps5-section{
    background-color: rgb(85, 116, 255);
    color:white;
    border-radius: 20px;
    padding:5px 20px;
    border:none;
}

.my-img-ps5>img{
    width:100%;
}

.my-img-joypad>img{
    width: 100%;
}

.my-img-headset>img{
    width:100%;
}

.my-img-remote>img{
    width:100%;
}

.my-img-camera>img{
    width: 100%;
}

.my-jumbotron-take{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 50px 0 60px 0;
    color:white;
}

.news-game{
    background-color: rgb(29, 29, 29);
    color:white;
}

.my-img-container-it-takes-two>img{
    width:100%;
}

.my-img-tony-hawks>img{
    width:100%;
}

.my-img-bandicoot>img{
    width:100%;
}

.my-border-radius-news-game-section>img{
    border-radius:25px;
}

.my-img-ps4-slim>img{
    width:100%;
}

.button-exploration-ps4-section{
    padding:5px 10px;
    background-color: blue;
    color:white;
    border-radius:25px;
    border:none;
}