/*CLASSI MOLTO UTILIZZATE GENERALI*/

/* Classe utilizzata per contenitori con img che hanno come proprietà solo una width del 100% */
.my-img-container-100>img{
    width:100%;
}

/* Classi utilizzate per i colori del testo */
.my-text-blue{
    color:rgb(85, 116, 255);
}

.my-text-grey{
    color:rgb(97, 96, 96);
}


/*BANNER HEADER LOGO SONY*/
.my-logo-sony{
    background-color: black;
    height: 30px;
    text-align: right;
}

.my-logo-sony>img{
    height: 80%;
}

/*JUMBOTRON PRIMA SEZIONE*/
.my-jumbotron{
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
    padding: 250px 0 50px 0;
    color:white;
}

.jumbotron-button{
    background-color: rgb(194, 69, 47);
    color:white;
    border-radius: 20px;
    padding:5px 20px;
    border:none;
}

/*Lista di videogiochi sotto il primo jumbotron*/
.game-list-section img{
    border-radius:25px;
    width: 100%;
    padding:3px;
    border-radius:25px;
    border:3px solid transparent;
}

.my-img-returnal>img:hover,
.my-img-ratchet-and-clank>img:hover{
  border:3px solid blue;
  border-radius:25px;
}

.my-button-ps5-section{
    background-color: rgb(85, 116, 255);
    color:white;
    border-radius: 20px;
    padding:5px 20px;
    border:none;
}

/*SEZIONE PS5 LISTA PRODOTTI IMG  CON HOVER*/
.my-img-ps5,
.my-img-joypad,
.my-img-headset,
.my-img-remote,
.my-img-camera{
    border-bottom: 2px solid transparent;
}

.my-img-ps5:hover,
.my-img-joypad:hover,
.my-img-headset:hover,
.my-img-remote:hover,
.my-img-camera:hover{
    border-bottom:2px solid blue;
}

/*SEZIONE JUMBOTRON TAKE*/
.my-jumbotron-take{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 50px 0 60px 0;
    color:white;
}

/*SEZIONE NOVITA' VIDEOGIOCHI*/
.news-game-section{
    background-color: rgb(29, 29, 29);
    color:white;
}

.my-border-radius-news-game-section>img{
    border-radius:25px;
}

.button-exploration-ps4-section{
    padding:5px 10px;
    background-color: blue;
    color:white;
    border-radius:25px;
    border:none;
}

/*PLAYSTATION PLUS SECTION*/
.my-playstation-plus{
    background-color: rgb(170, 170, 170);
}

.my-container-img-plus-logo>img{
    width:100%;
}

.my-play-plus-button{
    padding:10px 15px;
    border-radius:40px;
    background-color:rgb(255, 255, 255, 0.5);
    color:rgb(36, 36, 255);
    border:none;
}

/*SEZIONE PLAYSTATION NOW*/
.playstation-now{
    background-color: rgb(0, 0, 61);
    color:white;
}

.my-playstation-now-button{
    padding:10px 15px;
    border-radius:40px;
    background-color:white;
    color:black;
    border:none;
}

/*FOOTER*/
.footer-container{
    background-color: rgb(21, 74, 187);
    color:white;
}

.footer-container>a{
    color:white;
}

.my-img-container-footer>img{
    width:100%;
}

.my-link-footer{
    list-style-type: none;
}

.my-link-footer a{
    text-decoration: none;
    color:white;
}

.my-img-play-footer>img{
    width:20%;
    filter:brightness(0) invert(1);
}